.main-button {
    text-align: center;
    padding: 9px 80px;
    border-radius: 12px;
    background-color: #00CC00; color: white;
}

#register-main-button{
    background-color: #00CCCC; color: white;
}

.page-title{
    text-align: center;
}

.main-table{
    background-color: beige;
    text-align: center;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
}